@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 221 43% 11%;

    --secondary: 210 24% 98%;
    --secondary-foreground: 217 23% 27%;

    --muted-foreground: 215 18% 34%;

    --border: 220 17% 93%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
